@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Desarrollador .NET<br />
    Carlos García Negrete<br />
    <abbr title="Movil">P:</abbr>
    5531043181
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">carlos.garcia.ne@gmail.com</a><br />
</address>